<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net462" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net462" />
  <package id="Octokit" version="0.27.0" targetFramework="net462" />
</packages>