<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net462" />
  <package id="Syncfusion.Data.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.Licensing" version="16.2.0.43" targetFramework="net462" />
  <package id="Syncfusion.SfBusyIndicator.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.SfChromelessWindow.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.SfGrid.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.SfInput.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.SfShared.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.SfSkinManager.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.Shared.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.Themes.Metro.WPF" version="16.2.0.41" targetFramework="net462" />
  <package id="Syncfusion.Tools.WPF" version="16.2.0.41" targetFramework="net462" />
</packages>